.git-test {
  background-color: red;
  transition: transform 0.4s ease;
}

.git-test.is-moved-right {
  transform: translateX(50%);
}

@media screen and (max-width: 991px) {
  .git-test {
    background-color: green;
  }

  .git-test.is-moved-down {
    transform: translateY(50%);
  }
}
